<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_front') }}">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_front_actualites') }}">Actualités</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_front_contacts') }}">Contacts</a>
    </li>
</ul>