{% extends 'base.html.twig' %}

{% block title %}Notre Application - Contacts{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Nous contacter</h1>

    <h3>Infos/Coordonnées à insérer</h3>

    <div class="container text-center">
	    <div class="row align-items-start">
            <div class="col">
	            LAMER Rémi
            </div>
            <div class="col">
	            LOPES Joana
            </div>
            <div class="col">
	            AMAUDRUZ Léo
            </div>
            <div class="col">
	            KHOROVA Iya
            </div>
	    </div>
    </div>
</div>

{% endblock %}