{% extends 'base.html.twig' %}

{% block title %}Notre Application - Accueil{% endblock %}

{% block body %}
<h1>Notre Application - UEL316 - Groupe C</h1>
<h2>Accueil</h2>
<p>Insérer un texte (ou pas)</p>
{% endblock %}